{% extends 'base/base.html' %}
{% load static %}
{% load humanize %}
{% block title %}
Kit de herramientas LLM
{% endblock title %}

{% block custom_js_css_link %}
{% endblock custom_js_css_link %}

{% block breadcrumb_title %}
<li class="breadcrumb-item"><a href="#">Configuración</a></li>
<li class="breadcrumb-item active">Kit de herramientas LLM</li>
{% endblock breadcrumb_title %}

{% block page_title %}
Kit de herramientas LLM (Beta)
{% endblock page_title %}

{% block main_content %}
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <b>Kit de herramientas LLM</b> incluye la capacidad de descargar nuevos LLMs, ver modelos disponibles, eliminar modelos que ya no se necesitan y también elegir entre varios modelos.
        <br>
        <p>utiliza varios LLMs para mejorar el proceso de informes. Usando varios modelos de IA LLM, los probadores de penetración podrán generar informes detallados y perspicaces.
          <br>
          Si está utilizando modelos LLM personalizados, se espera que los tiempos de respuesta sean mucho más lentos en CPU. Recomendamos usar GPU para un mejor rendimiento. Modelos como llama2 o llama3 requieren un cálculo significativo y se requieren GPU. <b>Tener solo CPU resultará en tiempos de respuesta lentos.</b>
          <br>
          <b>Los modelos GPT de OpenAI no se ejecutan localmente, por lo que no es necesario tener GPU.</b>
        </p>
      </div>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-sm-4">
      <a href="#" class="btn btn-primary rounded-pill waves-effect waves-light mb-3" onclick="showAddNewModelModal()"><i class="mdi mdi-plus"></i> Agregar nuevo modelo</a>
    </div>
  </div>
  <h5>{{installed_models|length}} Modelos disponibles</h5>
  {% if openai_key_error %}
  <div class="alert alert-danger border-0 mb-3 mt-3" role="alert">
    <b>Advertencia:</b> El modelo GPT está actualmente seleccionado y requiere que se establezca la clave API. Por favor, configure la clave API en la <a href="/scanEngine/{{current_project.slug}}/api_vault" target="_blank">Bóveda de API.</a>
  </div>
  {% endif %}
  <div class="row mt-2">
    {% for model in installed_models %}
    <div class="col-lg-4">
      <div class="card project-box">
        <div class="card-body">
          <div class="dropdown float-end">
            <a href="#" class="dropdown-toggle card-drop arrow-none" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="mdi mdi-dots-horizontal m-0 text-muted h3"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-end">
              {% if model.is_local %}
                <a class="dropdown-item" href="#" onClick=deleteModel('{{model.name}}')>Eliminar</a>
              {% endif %}
              {% if not model.selected %}
                <a class="dropdown-item" href="#" onClick=selectModel('{{model.name}}')>Usar modelo</a>
              {% endif %}
            </div>
          </div>
          <h4 class="mt-0">
            <span class="{% if model.selected %}text-success{% endif %}">{{model.name}} {% if model.selected %}<span class="badge bg-soft-primary text-primary ms-4">Modelo seleccionado</span>{% endif %}</span>
          </h4>
          </p>
          <p class="mb-1">
            <span class="pe-2 text-nowrap mb-2 d-inline-block">
              <i class="mdi mdi-calendar-range text-primary"></i>
              Modificado <b>{% if model.modified_at %}{{model.modified_at|naturaltime}} {% else %} NA{% endif %}</b>
            </span>
            <br>
            <span class="pe-2 text-nowrap mb-2 d-inline-block">
              <i class="mdi mdi-database text-info"></i>
              {% if model.is_local %}
              Modelo instalado localmente
              {% else %}
              Modelo OpenAI
              {% endif %}
            </span>
            <br>
            <span class="pe-2 text-nowrap mb-2 d-inline-block">
              <i class="mdi mdi-numeric text-info"></i>
              <b>{{model.details.parameter_size}}</b> Parámetros 
            </span>
            <span class="text-nowrap mb-2 d-inline-block">
              <i class="mdi mdi-family-tree text-success"></i>
              Familia <b>{{model.details.family}}</b>
            </span>
          </p>
        </div>
      </div>
    </div>
    {% empty %}
    <div class="alert alert-danger border-0" role="alert">
      No hay modelos LLM instalados. Puede instalar modelos usando el botón 'Agregar nuevo LLM'.
    </div>
    {% endfor %}
  </div>
</div>
{% endblock main_content %}

{% block page_level_script %}
<script type="text/javascript">
  function deleteModel(model_name) {
    model_name = model_name.split(':')[0];
    var url = "/api/tool/ollama/?model=" + model_name;
    swal.queue([{
      title: '¿Está seguro de que desea eliminar este modelo?',
      text: "Esta acción no se puede deshacer.",
      icon: 'warning',
      showCancelButton: true,
      confirmButtonText: 'Eliminar',
      padding: '2em',
      showLoaderOnConfirm: true,
      preConfirm: function() {
        return fetch(url, {
          method: 'DELETE',
          credentials: "same-origin",
          headers: {
            "X-CSRFToken": getCookie("csrftoken")
          }
        }).then(function(response) {
          return response.json();
        }).then(function(data) {
          if (data.status){
            swal.insertQueueStep({
              icon: 'error',
              title: '¡Ups! ¡No se puede eliminar el modelo!'
            })
          }
          else{
            swal.queue([{
              title: '¡Modelo eliminado exitosamente!',
              icon: 'success',
              showCancelButton: false,
              confirmButtonText: 'Aceptar',
              padding: '2em',
              showLoaderOnConfirm: true,
              preConfirm: function() {
                location.reload();
              }
            }]);
          }
        }).catch(function() {
          swal.insertQueueStep({
            icon: 'error',
            title: '¡Ups! ¡No se puede eliminar el modelo!'
          })
        })
      }
    }])
  }

  function showAddNewModelModal(){
    $('#modal_title').html('Agregar nuevo modelo LLM');
    $('#modal-content').empty();
    $('#modal-content').append(`
      <p>Puede encontrar la lista de modelos soportados en <a href="https://ollama.com/library" target="_blank">Biblioteca Ollama</a></p>
      <p>Recomendamos usar el modelo llama2-uncensored para mejores resultados.</p>
      <div class="mb-3">
        <label for="model_name" class="form-label">Nombre del modelo</label>
        <input class="form-control" type="text" id="model_name" required="" placeholder="llama2">
      </div>
      <div class="mb-3 text-center">
        <button class="btn btn-primary float-end" type="submit" onclick="download_model()">Descargar Modelo</button>
      </div>
    `);
    $('#modal_dialog').modal('show');
  }

  function download_model(){
    var model_name = $('#model_name').val();
    if (model_name == ""){
      Swal.fire({
        title: '¡Ups!',
        text: 'El nombre del modelo es requerido',
        icon: 'error'
      });
      return;
    }
    var url = "/api/tool/ollama/?model=" + model_name;
    swal.queue([{
      title: '¿Está seguro de que desea descargar este modelo?',
      text: "La descarga de modelos puede llevar mucho tiempo, a veces varios minutos. Por favor, sea paciente.",
      icon: 'info',
      showCancelButton: true,
      confirmButtonText: 'Descargar',
      padding: '2em',
      showLoaderOnConfirm: true,
      preConfirm: function() {
        return fetch(url, {
          method: 'GET',
          credentials: "same-origin",
          headers: {
            "X-CSRFToken": getCookie("csrftoken")
          }
        }).then(function(response) {
          return response.json();
        }).then(function(data) {
          if (!data.status){
            swal.insertQueueStep({
              icon: 'error',
              title: '¡Ups! No se puede descargar el modelo, ¡el modelo no existe!'
            })
          }
          else{
            swal.queue([{
              title: '¡Modelo descargado exitosamente!',
              icon: 'success',
              showCancelButton: false,
              confirmButtonText: 'Aceptar',
              padding: '2em',
              showLoaderOnConfirm: true,
              preConfirm: function() {
                location.reload();
              }
            }]);
          }
        }).catch(function() {
          swal.insertQueueStep({
            icon: 'error',
            title: '¡Ups! ¡No se puede descargar el modelo!'
          })
        })
      }
    }])
  }

  function selectModel(model_name){
    var url = "/api/tool/ollama/?model=" + model_name;
    swal.queue([{
      title: '¿Está seguro de que desea seleccionar este modelo?',
      text: "Este modelo se utilizará para generar Informes de Escaneo y Sugerencias de Ataque.",
      icon: 'info',
      showCancelButton: true,
      confirmButtonText: 'Seleccionar',
      padding: '2em',
      showLoaderOnConfirm: true,
      preConfirm: function() {
        return fetch(url, {
          method: 'PUT',
          credentials: "same-origin",
          headers: {
            "X-CSRFToken": getCookie("csrftoken")
          }
        }).then(function(response) {
          return response.json();
        }).then(function(data) {
          if (!data.status){
            swal.insertQueueStep({
              icon: 'error',
              title: '¡Ups! ¡No se puede seleccionar el modelo!'
            })
          }
          else{
            swal.queue([{
              title: '¡Modelo seleccionado exitosamente!',
              icon: 'success',
              showCancelButton: false,
              confirmButtonText: 'Aceptar',
              padding: '2em',
              showLoaderOnConfirm: true,
              preConfirm: function() {
                location.reload();
              }
            }]);
          }
        }).catch(function() {
          swal.insertQueueStep({
            icon: 'error',
            title: '¡Ups! ¡No se puede seleccionar el modelo!'
          })
        })
      }
    }])
  }
</script>
{% endblock page_level_script %}
