{# DO NOT AUTO INDENT #}
{% extends 'base/base.html' %}
{% load static %}
{% load custom_tags %}
{% block title %}
Personalizar Informe
{% endblock title %}

{% block custom_js_css_link %}
<link href="{% static 'plugins/markdown/simplemde.min.css' %}" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@simonwep/pickr/dist/themes/monolith.min.css"/>
<script src="https://cdn.jsdelivr.net/npm/@simonwep/pickr/dist/pickr.min.js"></script>
{% endblock custom_js_css_link %}

{% block breadcrumb_title %}
<li class="breadcrumb-item"><a href="#">Configuración</a></li>
<li class="breadcrumb-item active">Personalizar Informe</li>
{% endblock breadcrumb_title %}

{% block page_title %}
Configuración de Informes PDF
{% endblock page_title %}

{% block main_content %}
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="header-title">Personalizar Informe</h4>
        <p>Permite generar informes PDF. Los informes PDF son completamente personalizables. Al descargar el informe PDF, puede elegir si desea descargar el Informe de Vulnerabilidades o el Informe de Reconocimiento o ambos.
          <br>Esta sección le permite personalizar el informe, como colores y secciones a incluir en el informe.
        </p>
        <form method="post">
          {% csrf_token %}
          <h4 class="header-title">Color</h4>
          <table>
            <tr>
              <td>
                <b>Color Primario</b>
                <br>
                (El color primario se utiliza para el Título Principal, Fondo del Pie de Página y Contadores de Página.)
              </td>
              <td>
                <div class="ms-4">
                  {{form.primary_color}}
                  <div class="primary-color-picker"></div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <b>Color Secundario</b>
                <br>
                (El color secundario se utiliza actualmente para el fondo de la portada.)
              </td>
              <td>
                <div class="ms-4">
                  {{form.secondary_color}}
                  <div class="secondary-color-picker"></div>
                </div>
              </td>
            </tr>
          </table>
          <h4 class="header-title mt-3">Informe Generado por</h4>
          <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 mt-2">
              <label for="company_name" class="form-label">Nombre de la Empresa</label>
              {{form.company_name}}
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 mt-2">
              <label for="company_address" class="form-label">Dirección de la Empresa</label>
              {{form.company_address}}
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 mt-2">
              <label for="company_website" class="form-label">Sitio Web de la Empresa</label>
              {{form.company_website}}
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 mt-2">
              <label for="company_email" class="form-label">Correo Electrónico de la Empresa</label>
              {{form.company_email}}
            </div>
          </div>
          <div class="d-flex mt-3">
            <div class="d-inline-block"> <h4 class="header-title">¿Mostrar Texto del Pie de Página?</h4></div>
            <div class="d-inline-block ms-3">
              {{form.show_footer}}
            </div>
          </div>
          <p>Esto podría ser texto de derechos de autor, o año de generación y la ubicación del texto del pie de página está en la parte inferior izquierda.</p>
          <label for="footer_text" class="form-label">Texto del Pie de Página</label>
          {{form.footer_text}}
          <!-- <div class="d-flex mt-3">
            <div class="d-inline-block"> <h4 class="header-title">Show  Banner/Credits?</h4></div>
            <div class="d-inline-block ms-3">
              {{form.show_rengine_banner}}
            </div>
          </div>
          <p>If turned on, generated report will contain 'Generated by '.</p> -->
          <div class="d-flex mt-3">
            <div class="d-inline-block"> <h4 class="header-title">¿Mostrar Resumen Ejecutivo?</h4></div>
            <div class="d-inline-block ms-3">
              {{form.show_executive_summary}}
            </div>
          </div>
          <p>Si está activado, incluirá el Resumen Ejecutivo en el informe. Puede personalizar la sección del resumen ejecutivo.
            <br>
            <b>Tenga en cuenta que la sección de Resumen Ejecutivo aparecerá antes del resumen rápido.</b>
          </p>
          <p>Puede personalizar la plantilla del resumen ejecutivo y metodología usando markdown. Reemplace la siguiente sintaxis donde lo requiera. <b>¡Las llaves son obligatorias!</b></p>
          <h4 class="header-title">Sintaxis del Resumen Ejecutivo</h4>
          <ul>
            <li><span class="badge bg-primary mt-2">{scan_date}</span> Fecha de Escaneo del Objetivo Ej. 25 de Junio, 2020.</li>
            <li><span class="badge bg-primary mt-2">{company_name}</span> Empresa que realizó la Auditoría de Vulnerabilidad/Reconocimiento.</li>
            <li><span class="badge bg-primary mt-2">{target_name}</span> Nombre del Dominio Objetivo.</li>
            <li><span class="badge bg-primary mt-2">{target_description}</span> Descripción del Objetivo.</li>
            <li><span class="badge bg-primary mt-2">{subdomain_count}</span> Número total de subdominios descubiertos.</li>
            <li><span class="badge bg-primary mt-2">{vulnerability_count}</span> Número total de Vulnerabilidades identificadas.</li>
            <li><span class="badge bg-primary mt-2">{critical_count}</span> Número total de Vulnerabilidades de Severidad Crítica identificadas.</li>
            <li><span class="badge bg-primary mt-2">{high_count}</span> Número total de Vulnerabilidades de Severidad Alta identificadas.</li>
            <li><span class="badge bg-primary mt-2">{medium_count}</span> Número total de Vulnerabilidades de Severidad Media identificadas.</li>
            <li><span class="badge bg-primary mt-2">{low_count}</span> Número total de Vulnerabilidades de Severidad Baja identificadas.</li>
            <li><span class="badge bg-primary mt-2">{info_count}</span> Número total de Vulnerabilidades Informativas identificadas.</li>
            <li><span class="badge bg-primary mt-2">{unknown_count}</span> Número total de Vulnerabilidades con Severidad Desconocida identificadas.</li>
          </ul>
          <div class="mt-2">
            {{form.executive_summary_description}}
          </div>
          <input type="submit" value="Guardar Configuración del Informe" class="btn btn-primary float-end mt-2">
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock main_content %}

{% block page_level_script %}
<script src="{% static 'plugins/markdown/simplemde.min.js' %}"></script>
<script src="{% static 'custom/custom.js' %}"></script>
<script type="text/javascript">
new SimpleMDE({
  element: document.getElementById("executive_summary_description"),
  toolbar: ["preview", "bold", "italic", "heading", "heading-2", "unordered-list", "link" ,"|", "code" ,"|", "quote", "|", "guide"],
  spellChecker: false,
});

const primary_pickr = Pickr.create({
  el: '.primary-color-picker',
  theme: 'monolith',

  swatches: [
    'rgb(79, 195, 247)',
    'rgb(100, 181, 246)',
    'rgb(77, 208, 225)',
    'rgb(255, 183, 77)',
    'rgb(255, 138, 101)',
  ],

  default: '{{primary_color}}',

  components: {
    preview: true,
    opacity: true,
    hue: true,
    interaction: {
      hex: true,
      input: true,
    }
  }
});

primary_pickr.on('save', (color, instance) => {
  document.getElementById("primary_color").value = primary_pickr.getColor().toHEXA().toString(0);
}).on('change', (color, source, instance) => {
  primary_pickr.setColor(color.toHEXA().toString(0));
  document.getElementById("primary_color").value = primary_pickr.getColor().toHEXA().toString(0);
});

const secondary_pickr = Pickr.create({
  el: '.secondary-color-picker',
  theme: 'monolith',

  swatches: [
    'rgb(33,33,33)',
    'rgb(66,66,66)',
    'rgb(52, 73, 94)',
    'rgb(44, 62, 80)',
  ],

  default: '{{secondary_color}}',

  components: {
    preview: true,
    opacity: true,
    hue: true,
    interaction: {
      hex: true,
      input: true,
    }
  }
});

secondary_pickr.on('save', (color, instance) => {
  document.getElementById("secondary_color").value = secondary_pickr.getColor().toHEXA().toString(0);
}).on('change', (color, source, instance) => {
  secondary_pickr.setColor(color.toHEXA().toString(0));
  document.getElementById("secondary_color").value = secondary_pickr.getColor().toHEXA().toString(0);
});
</script>
{% endblock page_level_script %}
